/* HERO SECTION */

.heroSection {
  position: relative;
}

.heroText {
  background-color: #fff;

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  max-width: 60%;
  padding: 210px 0 0 180px;
}

.heroSection::before {
  content: "Contact";
  color: var(--veryLightGrey);
  position: absolute;
  top: 50px;
  left: 25%;
  font-size: 250px;
  font-weight: 700;
  z-index: 2;
}

.heroSection h2,
.contactDetails h2 {
  line-height: 0.9;
  font-size: 72px;
  margin-bottom: 50px;
}

/* CONTACT DETAILS SECTION */

.contactDetails {
  display: flex;
  align-items: flex-start;
  gap: 90px;
}

.contactDetails h2 {
  margin-right: 60px;
}

.contactDetails h4 {
  margin-bottom: 15px;
}

.contactDetails address {
  font-style: normal;
}

.mapLink {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.mapLink p {
  color: #000;
}

/* MAP SECTION */

/* FORM SECTION */
