/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* GLOBAL STYLES */

html,
body {
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}

p {
  color: var(--darkGrey);
}

section {
  margin-bottom: 200px;
}

/* HELPERS */

/* to position PageName absolute */
header {
  position: relative;
}

/* COLORS */

:root {
  --veryDarkBlue: #1b1d23;
  --darkGrey: #60636d;
  --mediumGrey: #7d828f;
  --lightGrey: #c8ccd8;
  --veryLightGrey: #eeeff4;
  --red: #df5656;
}
