.layout {
  max-width: 1100px;
  margin-inline: auto;
}

@media screen and (max-width: 1320px) {
  .layout {
    margin-inline: 100px;
  }
}

@media screen and (max-width: 890px) {
  .layout {
    margin-inline: 32px;
  }
}
