.pageNameContainer {
  position: absolute;
  left: -100px;
  top: 50px;
  transform: rotate(90deg);
}

.line {
  width: 105px;
  height: 1px;
  background-color: var(--lightGrey);
}

.pageName {
  position: absolute;
  left: 140px;
  text-transform: uppercase;
  letter-spacing: 18px;
  transform: translateY(-50%);
}

@media screen and (min-width: 1400px) {
  .pageNameContainer {
    left: -120px;
  }
}
