.portfolioGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 160px;
}

@media screen and (max-width: 760px) {
  .portfolioGrid {
    grid-template-columns: 1fr;
  }
}
